<div>

    <ol *ngFor="let question of questionList;">
        <li value="{{question.id}}">
            <p>{{question.name}}</p>
        </li>
        <textarea  class="form-control" *ngIf="question.questionType=='Text Box'" id="textarea" name="Answer" rows="4" cols="50">
            </textarea>

        <div *ngIf="question.questionType=='Check Box'" >
            <div *ngFor="let subQuestion of question.data;" >
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      {{subQuestion['name']}}
                    </label>
                  </div>
            </div>
        </div>
             <div *ngIf="question.questionType== 'Radio Button'" >
            <div *ngFor="let subQuestion of question.data;" >
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault{{question.id}}" id="flexRadioDefault{{question.id}}">
                    <label class="form-check-label" for="flexRadioDefault{{question.id}}">
                        {{subQuestion['name']}}
                    </label>
                  </div>
            </div>
        </div>
        <div *ngIf="question.questionType== 'Slider'" >
            <div class="range">
                <input type="range" class="form-range" min="0" max="10" step="1" id="customRange3" />
              </div>
        </div>
        
        
    </ol>

</div>