<div class="col-md-6 offset-md-3 mt-5">
    <div class="card">
        <h4 class="card-header">
            <div class="row">
                <div class="col-1">
                    <button href="#" class="btn btn-primary btn-sm logo-btn" type="button" data-toggle="tooltip"
                        data-placement="top" title="Logo"><i class="fa fa-dna"></i></button>
                </div>
                <div class="col-6">
                    <h2 class="app-name">MediSurvey</h2>
                </div>
            </div>
        </h4>
        <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="login()">

                <div class="form-group">
                    <div class="row">
                        <div class="col-2">
                            <label for="username">Username</label>
                        </div>
                        <div class="col-10">
                            <input type="text" formControlName="username" class="form-control" />
                                <div *ngIf="username && username.errors&& (username.dirty || username.touched)" class="alert alert-danger">
                                    <div *ngIf="username.errors.required">Username is required</div>
                                </div>
                        </div>
                    </div>

                </div>
                <div class="form-group login-form">
                    <div class="row">
                        <div class="col-2">
                            <label for="password">Password</label>
                        </div>
                        <div class="col-10">
                            <input type="password" formControlName="password" class="form-control" />
                            <div *ngIf="password && password.errors&& (password.dirty || password.touched)" class="alert alert-danger">
                                <div *ngIf="password.errors.required">Password is required</div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="login-btn">
                    <button [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Login
                    </button>
                </div>
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                
            </form>
        </div>
    </div>
</div>